@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@media print {
  body * {
    visibility: hidden;
  }
  .print-only-voucher, .print-only-voucher * {
    visibility: visible;
  }
  .print-only-voucher {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
